# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
sudo: false
warnings_are_errors: true

r:
  - oldrel
  - release
  - devel

after_success:
  - Rscript -e 'covr::codecov()'
